<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1078962738086-sgdsp3h1js7mmvvrsc2jrtd6ek5pkun3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078962738086-sgdsp3h1js7mmvvrsc2jrtd6ek5pkun3</string>
	<key>API_KEY</key>
	<string>AIzaSyC2vgmkq-v43doECINI0DVI0Hx-r06lVnk</string>
	<key>GCM_SENDER_ID</key>
	<string>1078962738086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mzkun.gtong900-01</string>
	<key>PROJECT_ID</key>
	<string>gtong900-01</string>
	<key>STORAGE_BUCKET</key>
	<string>gtong900-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078962738086:ios:b390b4dd635726b1</string>
	<key>DATABASE_URL</key>
	<string>https://gtong900-01.firebaseio.com</string>
</dict>
</plist>